#include "resource.h"
#include "winres.h"

CONFIG YAML "en_US.yml"

DE JSON "de.json"
EN JSON "en.json"
ES JSON "es.json"
FR JSON "fr.json"
JA JSON "ja.json"
PL JSON "pl.json"
RU JSON "ru.json"
TR JSON "tr.json"
UK JSON "uk.json"
VI JSON "vi.json"
ZH_CN JSON "zh-cn.json"
ZH_TW JSON "zh-tw.json"
